#content-container {
    margin: 60px auto 0;
}

#loco-search-holder{
    position: relative;
}

.loco-opt-holder{
    position: absolute;
    width: 98%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-sizing: border-box;
}

.loco-opt-holder-no-border {
    border: none;
}


.loco-opt{
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    padding: 6px 24px;
}

.loco-opt h3{
    display: flex;
    font-weight: 300;
    font-size: 16px;
}

.loco-opt:hover{
    cursor: pointer;
    background-color: #A8DADC; 
    border: 1px solid #A8DADC; 
}

#splash-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    background-image: url("./assets/AdobeStock_82963858_Preview.jpeg");
    /* background-image: url("./assets/stamps-bw.jpeg"); */
}

#splash-content {
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-sizing: border-box;
    padding: 16px 32px;
    min-width: 400px;
}

#splash-header h1, #splash-header h3 {
    margin: 32px;
    font-weight: 500;
}

#splash-header h3 {
    line-height: 24px;
    margin: 32px;
    font-weight: 300;
}

#splash-search button {
    margin: 32px auto 16px;
    padding: 8px 24px;
    font-size: 16px;
}


#main-page-bttn-container {
    display: flex;
    flex-direction: column;
}

#main-page-bttn-container a {
    margin: 16px auto 32px;
    text-decoration: underline;
    cursor: pointer;
}

#main-page-bttn-container a:hover {
    color: #E63946;
}

#main-page-bttn-container p {
    font-size: 14px;
}

#loco-search-holder input {
    width: 20vw;
    min-width: 200px;
    height: 35px;
    max-height: 40px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
}

#splash-search-date-range {
    margin-top: 16px;
}

#splash-search-date-range input:first-child {
    width: 10vw;
    min-width: 100px;
    height: 35px;
    max-height: 40px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #E7E7E7;
    border-right:none;
    padding-left: 8px;
    box-sizing: border-box;
}

#splash-search-date-range input:last-child {
    width: 10vw;
    min-width: 100px;
    height: 35px;
    max-height: 40px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #E7E7E7;
    border-left:none;
    padding-left: 8px;
    box-sizing: border-box;
}

.custom-input {
    padding-left: 8px; 
    position: relative;
    box-sizing: border-box;
}

.search-errors {
    margin-top: 16px;
    color:  #E63946;
}