#content-container {
    margin: auto;
    /* max-width: 1200px; */
}

#loco-search-holder{
    position: relative;
}

.loco-opt-holder{
    position: absolute;
}

.loco-opt{
    background-color: white;
}

.loco-opt:hover{
    cursor: pointer;
    background-color: #ae1d29; 
    border: 1px solid #550c12; 
}

#splash-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    background-image: url("./assets/AdobeStock_82963858_Preview.jpeg");
    /* background-image: url("./assets/stamps-bw.jpeg"); */
}

#splash-content {
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #2d333f33;
    box-sizing: border-box;
    padding: 16px 32px;
}

#splash-header h1, #splash-header h3 {
    margin: 32px;
    font-weight: 500;
}

#splash-header h3 {
    margin: 32px;
    font-weight: 300;
}

#splash-search button {
    margin: 48px;
    padding: 8px 24px;
    font-size: 16px;
}

#loco-search-holder input {
    width: 20vw;
    min-width: 200px;
    height: 6vh;
    max-height: 40px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    margin: 0 0 16px;
}

#splash-search-date-range input:first-child {
    width: 10vw;
    min-width: 100px;
    height: 6vh;
    max-height: 40px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #E7E7E7;
    border-right:none;
    padding-left: 8px;
    box-sizing: border-box;
}

#splash-search-date-range input:last-child {
    width: 10vw;
    min-width: 100px;
    height: 6vh;
    max-height: 40px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #E7E7E7;
    border-left:none;
    padding-left: 8px;
    box-sizing: border-box;
}

.custom-input {
    padding-left: 8px; 
    position: relative;
    box-sizing: border-box;
}

.search-errors {
    margin-top: 16px;
    color:  #E63946;
}