
.nav-bar-container {
    display: flex;
    height: 60px;
    /*border-bottom: 1px solid black; just to help me code layout*/
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 0 auto;
}

.nav-bar-container.max-width {
    max-width: 1100px;
    margin: 0 auto; /* To center the navigation bar */
}

.nav-bar-container a {
    cursor: pointer;
    text-decoration: none;
    color: #353c4a;
}

#signup {
    padding: 6px 16px;
    border: none;
}

#login {
    border: none;
    margin: 0 16px;
    background-image: linear-gradient(
      to right,
      #E63946,
      #E63946 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; /* Firefox */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}

#login:before {
    content: '';
    background: #E63946;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.2s ease-in-out;
  }

#login:hover {
    background-position: 0;
    box-shadow: none;
}


#login:hover::before {
    width: 100%;
}

.links-nav button {
    padding: 6px 16px;
    border: none;
}
