.page-content-container {
    display: flex;
    margin-top: 60px;
}

#itinerary-section-container {
    width: calc(100% - 400px); 
    max-width: 928px;
    display: flex;
}

#itinerary-section-content {
    min-width: 279px;
    width: 80%;
    margin: 0 auto;
}

#sidebar-container {
    min-width: 150px;
    width: 150px;
    border-right: 1px solid #E7E7E7;
    background: #F1FAEE;
}

#sidebar {
    margin: 128px 0;
    position: fixed;
    top:0px;
}

.sidebar-item {
    margin: 64px 16px 16px;
    color: #1D3557;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.days-dropdown {
    margin: 16px;
}

.days-dropdown li {
    margin: 16px 0;
    color: #1D3557;
    font-size: 14px;
    cursor: pointer;
}

.days-dropdown li:hover {
    text-decoration: underline;
}

#itinerary-tld {
    border: 1px solid #E7E7E7;
    padding: 32px;
    border-radius: 10px;
    background: white;
    margin: 48px 32px;
}

#title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-date-container textarea {
    border: none;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;          /* Hide scrollbar */
    resize: none;              /* Disable manual resize */
    overflow-y: hidden;        /* Prevent vertical scrollbar */
}

#itinerary-tld-bttm {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

#members-container {
    display: flex;
}

#members-container svg {
    width: 25px;
    height: 25px;
}

#member-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    background: #457B9D;
    color: white;
}
/* top places section */
.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-controls button {
    background: none;
    color: #457B9D
}

.pagination-controls button:hover {
    box-shadow: none;
}

/* top places section end*/

#itinerary-container {
    padding: 32px;
}

#itinerary-header {
    display: flex;
    justify-content: space-between;
}

#itinerary-header a {
    margin-top: auto;
}

/* Itinerary List Styling */
.item {
    display: block;
    margin-bottom: 0.1rem;
}

.title {
    border-radius: 30px;
    color: #457B9D;
    border: 1px solid;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.title:hover {
    background-color: #457B9D;
    color: white;
}

.arrow-icon {
    display: inline-block;
    font-size: 12px;
    margin-right: 24px;
    transition: transform 0.3s;
}

.content {
    width: 90%;
    margin: 16px auto;
    padding: 0 0.3rem;
    line-height: 1.6;
    color: #457B9D;
    border: 1px solid;
    border-width: 0 1px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

#sticky {
    position: sticky;
    top:0px;
    height: 100vh ;
    min-width: 400px;
    flex: 1;
}

.activity-container {
    display: flex;
    flex-direction: column;
}

.comment-holder {
    position: relative;
}

.remove-comment-button {
    position: absolute;
    right: 5%;
    top: calc(50% - 14px);
}

.title-date-container h1{
    width: 100%;
    height: 100%;
    background-color: #457B9D;
}

#title input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px;
    word-wrap: normal;
    /* background: blue; */
}

