.page-content-container{
    display: flex;
}

#itinerary-section-container {
    box-shadow: 5px 0 10px -3px #00000030;
    width: calc(100% - 400px); 
    max-width: 928px;
    display: flex;
}

#itinerary-section-content {
    width: 80%;
    margin: 0 auto;
}

#sidebar {
    width: 150px;
    border-right: 1px solid #E7E7E7;
}

#itinerary-tld {
    /* box-shadow: 0 4px 24px rgba(0,0,0,.2); */
    border: 1px solid #E7E7E7;
    padding: 32px;
    border-radius: 10px;
    background: white;
    margin-top: 64px;
}

#title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#itinerary-tld-bttns {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

#members-container {
    display: flex;
}

#members-container svg {
    width: 25px;
    height: 25px;
}

#member-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    background: #457B9D;
    color: white;
}

#itinerary-container {
    /* border: 1px solid black; */
    padding: 32px;
    margin: 32px 0;
}

#itinerary-container h2 {
    margin-bottom: 16px;
}


/* Day Container */
.day-container {
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    margin: 16px 0;
    /* border-bottom: 1px solid black; */
}

.day-container .day-detail-container {
    padding: 16px 25px;
}

.day-container h3 {
    padding: 0 0 8px;
}
.content-container {
    width: 80%;
}

.content-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    padding: 16px;
    margin: 16px 0;
    background: #F1FAEE;
}

.activity-container {
    display: flex;
}

.activity-description {
    margin-left: 16px;
}

/* Map Section Container */
#map-section-container {
    /* border: 1px solid black; */
    min-width: 400px;
    flex: 1;
    height: 100vh;
}

/* Itinerary List Styling https://codepen.io/vii120/pen/bGqNVWw */
.wrapper {
    width: 7rem;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    @media (max-width: 768px) {
      width: auto;
      padding: 0 0.3rem;
    }
  }
  input[type='radio'] {
    display: none;
    &:checked + .item {
      .title {
        color: #fff;
        border-color:  #457B9D;
        background-color:  #457B9D;
        &:after {
          transform: rotate(180deg);
        }
      }
      .content {
        /* for animation! can use padding or margin here */
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        /* show content */
        height: auto;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s, opacity 0.7s; /*fade-in slow*/
        display: flex;
    justify-content: center; /* horizontally centers direct children */
    align-items: center;
      }
    }
  }
  .item {
    display: block;
    margin-bottom: 0.1rem;
  }

  .title {
    border-radius: 20px;
    color:  #457B9D;
    border: 1px solid;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    /* aligned arrow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* arrow icon */
    &:after {
      content: '\25bc';
      display: inline-block;
      font-size: 12px;
      margin-right: 16px;
    }
  }
  .content {
    width: 95%;
    margin: 0 auto;
    padding: 0 0.3rem;
    line-height: 1.6;
    color:  #457B9D;
    border: 1px solid;
    border-width: 0 1px;
    /* default disappear */
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s; /*fade-out fast*/ 
  }
  /* Itinerary List Styling End*/