/* Top Activities Section*/
/* #popular-activities-section {
    border: 1px solid pink;
} */

#popular-activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 16px;
}

.popular-activity-container {
    margin-top: 16px;
    width: 31%;
}

@media (max-width: 1301px) {
    .popular-activity-container {
      width: 45%; /* This allows 2 in a row when the viewport is 1301px or narrower */
    }
    /* .popular-activity-container:nth-child(2n) {
        margin-right: 0;
    } */
}

@media (max-width: 1040px) {
    .popular-activity-container {
      width: 100%; /* This allows 2 in a row when the viewport is 1301px or narrower */
      align-items: center;
    }
    #popular-activities-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.popular-activity-container img {
    width: 210px;
    height: 150px;
    border-radius: 10px;
}

#activity-list {
    margin: 32px;
    /* border: 1px solid #E7E7E7; */
}

.popular-activity-name {
    width: 210px;
    height: 32px;
    margin: 8px 0;
    text-align: center;
}
/* Top Activities Section Ends*/

/* Day Component */
.day-container {
    margin: 16px 0;
}

.day-container .day-detail-container {
    padding: 16px 25px;
}

.day-container h3 {
    padding: 0 0 8px;
}

.content-container {
    width: 90%;
    transition: max-height 0.3s ease;
    overflow: hidden;
    margin: auto;
}

.content-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    padding: 16px;
    margin: 16px 0;
    background: #F1FAEE;
}

.remove-day-bttn {
    display: block;
    margin: 16px auto;
}

.activities-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.activity-container {
    display: flex;
}

.activity-container h4{
    margin-right: 8px;
}

.activity-content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

.activity-google-data {
    display: flex;
    /* border: 1px solid red; */
}

.activity-google-data button{
    margin-top: 8px;
    background: #A8DADC;
    color: #1D3557;
}

.img-container {
    flex: 0 0 200px;  /* This means the div won't grow or shrink but will maintain a width of 200px */
    height: 170px;
}


.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 100%;  /* This will force the image to always take up the full width */
    border-radius: 10px;
}

.activity-description {
    flex-grow: 1;
    margin-left: 16px;
}

.activity-description p {
    font-size: 14px;
}

.comment-holder {
    position: relative;
}

.remove-comment-button {
    background: #A8DADC;
    color: #1D3557;
    margin-bottom: 16px;
}

.comment-holder textarea {
    margin-top: 16px;
    width: 100%;
    border: 1px solid #E7E7E7;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;  /* Hide vertical scrollbar */
    resize: none;        /* Prevent manual resize */
    box-sizing: border-box;
}

/* Day Component End */

/* Recommended Activity Tile */
#recommendations-section {
    margin-top: 16px;
}

#recommended-activities-container {
    margin: 16px 0 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
}

.recommended-activity-container {
    display: flex;
    align-items: center;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    display: inline-block;
    margin-right: 16px;
    white-space: normal;
}

.recommended-activity-container img {
    width: 52px;
    height: 50px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    background: #E7E7E7;
}

#recommended-details {
    display: flex;
}

.activity-name {
    margin: auto 16px; /* Adjust margin as needed */
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow text to wrap within the lines */
    flex: 1; /* Allow flex container to distribute space */
}

.add-bttn {
    border: 1px solid #E7E7E7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    margin-top: 12px;
}
