/* Top Activities Section*/
/* #popular-activities-section {
    border: 1px solid pink;
} */

#popular-activities-container {
    display: flex;
    flex-wrap: wrap;
}

.popular-activity-container {
    margin: 16px 23px 16px 0;
    width: 31%;
}

.popular-activity-container:nth-child(3n) {
    margin-right: 0;
}

#activity-list {
    margin: 32px 32px 0;
    /* border: 1px solid #E7E7E7; */
}

.activity-name {
    margin: 8px 0;
    text-align: center;
}
/* Top Activities Section Ends*/

/* Day Component */
.day-container {
    margin: 16px 0;
}

.day-container .day-detail-container {
    padding: 16px 25px;
}

.day-container h3 {
    padding: 0 0 8px;
}

.content-container {
    width: 80%;
    transition: max-height 0.3s ease;
    overflow: hidden;
    margin: auto;
}

.content-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    padding: 16px;
    margin: 16px 0;
    background: #F1FAEE;
}

.activity-container {
    display: flex;
}

.activity-description {
    margin-left: 16px;
}
/* Day Component End */