.itinerary-list-component {
    border: 1px solid blue;
    margin: auto;
    width: 50%;
    max-width: 1200px;
}

.selected-trip {
    border: 1px solid pink;
    display: flex;
}

#list-page-content-container {
    border: 1px solid black;
}

.itinerary-list-component ul {
    width: 80%;
    margin: auto;
}

.itinerary-content-container {
    margin: 0 32px;
}

#itinerary-list-headers {
    margin: 16px 0;
    text-align: center;
}

.itinerary-container {
    border: 1px solid green;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.itinerary-details {
    display: flex;
}

.itinerary-details p {
    margin: 0 8px;
    font-weight: 400;
}

.itinerary-info {
    display: flex;
    justify-content: space-between;
}


/* Day Component */
.day-container {
    margin: 16px 0;
}

.intinerary-detail-container {
    padding: 16px 25px;
    width: 100%;
}

.day-container h3 {
    padding: 0 0 8px;
}

.content-container {
    width: 80%;
    transition: max-height 0.3s ease;
    overflow: hidden;
    margin: auto;
}

.content-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    padding: 16px;
    margin: 16px 0;
    background: #F1FAEE;
}

.activity-container {
    display: flex;
}

.activity-description {
    margin-left: 16px;
}
/* Day Component End */